:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}
header {
}
.menyContainer {
  margin-top: 60px;
}
#ulList {
  display: flex;
  justify-content: center;
  gap: 80px;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: hsl(from rgb(165, 131, 165) h s l);
  font-weight: bold;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-top: 20px;
}

.card {
  height: 325px;
  width: 275px;
  border: 2px solid white;
  margin: 10px;
  color: white;
  text-align: center;
}

.card:hover {
  /*transform: rotateY(180deg);*/
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  padding: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
