:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#logo {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 1000px;
  height: 300px;
}

main {
  margin-top: 40px;
}

#ulList {
  display: flex;
  justify-content: center;
  gap: 80px;
}

li {
  list-style-type: none;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  place-items: center;
  justify-content: center;
  gap: 40px;
}

.card {
  position: relative;
  overflow: visible;
}
//
.card img {
  transition: transform 0.5s ease, left 0.5s ease, top 0.5s ease;
  position: relative;
}

.card:hover img {
  transform: scale(1.3);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  padding: 60px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
